doctype html

html(lang='en')  
 head
   title Pug
   link(rel='stylesheet', href='css/app.prefixed.css')
 body
  h1 Pug site
  p Lorem Impsum
  h2 casa
  button(type="button", id="btn-enviar") Click Me!
  script(src='js/main.min.js')
