footer {
	color: black;
	background-color: black;
}

.footer-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-link{
	background-color: red;
	text-decoration: none;
	color: blue;
	margin: 0;
	padding: 0;
}