header {
	background-color: black;
}

nav {
	display: flex;
	flex-direction: row;
}

.header-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	transition: 1s;
}

