.banner-title{
    color: white;
    font-size: 3em;
    text-align: center;
}

.todoapp-banner{
    background-size: cover;
    border: 2px solid orange;
    height: 20vh;
    width: 100%;
}

.todoapp-section-paragraph{
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}