.background-color-facebook {
  background-color: rgb(52, 52, 161);
}

.background-color-twitter {
  background-color: #1da1f2;
}

.background-color-instagram {
  background-color: #1da1f2;
}

.text-color-facebook {
  color: rgb(52, 52, 161);
}

.text-color-twitter {
  color: #1da1f2;
}

.text-color-instagram {
  color: #d10869;
}