doctype html  
html(lang='en')  
 head
   title #{htmlWebpackPlugin.options.title}
 body
   h1 Home
   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa totam in molestias odit error sed autem laboriosam, sint pariatur tempore. Quisquam error rem deserunt molestias corporis. Adipisci, atque repellendus delectus!