h1 {
	background-color: gold;
	color: black;
	font-size: 3em;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-family: Arial, sans-serif;
}

h2 {
	background-color: brown;
	color: white;
	margin: 15px;
}

h3 {
	padding: 10px;
}