doctype html

html(lang='es')
	head
		title Pug
		link(rel="stylesheet", href="css/mystyles.css")
	body
		h1 Pug with Gulp
		p Este sitio web ha sido compilado con Gulp.js
		span Advertencia, use con precaucion el boton
		br
		button(type="button", id="btn-enviar") Click Me!
		script(src='js/main.min.js')
