<form method="post">
	<input type="email" name="email" id="email" placeholder="Tu Email">
	<br><br>
	<input type="password" name="password" id="password" placeholder="Tu Contraseña">
	<br><br>
	<input type="submit" value="Login">
</form>

<script>
	const formLogin = document.querySelector("#login");
	// values of inputs
	const formData = new FormData(formLogin);

	formLogin.addEventListener('submit', event => {
		event.preventDefault();

		fetch('/api/signin', {
			method; 'POST',
			body: formData
		}).then(res => res.json()).
		then(data => {
			localStorage.setItem('token', data.token)
		})
	});
</script>