.gallery {
    background-color: purple;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5em;
    margin: 0 auto;
    padding: 10px;
}

.gallery-item {
    text-align: center;
}